#### Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

#### Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:
+ Describe the components of a Data Scientist's toolkit and list various tool categories.
+ List examples of open-source tools used in data science.
+ Describe the relevant features of open-source tools.
+ List examples of commercial and cloud-based data science tools.

#### Exercise 4 - Create a markdown cell to list data science languages

Start the cell with an overview line such as:

1. Python
2. R
3. Julia

#### Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Scikit-learn
4. Keras

#### Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|Examples|
|------------------|-----------|
|Data Management Tools|MySQL, and PostgreSQL, MongoDB|
|Data Integration and Transformation Tools|Apache Airflow and Apache Kafka|
|Data Visualization Tools|Cognos Analytics, Tableau and PowerBI|
|Code Asset Management Tools|Git, GitHub|

#### Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# comparision
6 < 9

True

In [3]:
# addition
5 + 7

12

In [4]:
# multiplication
10 * 3

30

#### Exercise 8 - Create a code cell to multiply and add numbers

In [6]:
# This is a arithmetic expression to mutiply then add integers
(3*4)+5

17

#### Exercise 9 - Create a code cell to convert minutes to hours

In [7]:
# convert 200 minutes to hours
200/60

3.3333333333333335

#### Exercise 10 - Insert a markdown cell to list Objectives

#### Objectives:
+ **Describe the components of a Data Scientist's toolkit and list various tool categories.**
+ **List examples of open-source tools used in data science.**
+ **Describe the relevant features of open-source tools.**
+ **List examples of commercial and cloud-based data science tools.**

#### Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

Birhane Bekele